
body {
	font-family: Trebuchet MS;
	user-select: none;
}

form {
	display: inline-block;
}

#wrapper {
	width: 100%;
	height: 90vh;
	background-color: #ffe;

	display: grid;
	grid-template-columns: [tool-start] minmax(100px, 260px) [tool-end canvas-start] minmax(640px, 800px) [canvas-end];
	grid-template-rows: 40px 480px 40px;
	gap: 5px;
}

#toolbar {
	/* grid-area: toolbar; */
	padding: 5px;
	grid-column: tool-start / tool-end;
	grid-row: 2 / 3;
	background-color: #f88;
	cursor: default;

	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: 2fr 1fr;
	gap: 5px;
}

.tool-wrapper {
	/* grid-area: tool-wrapper; */
	padding: 5px;
	background-color: #ce6;

	display: grid;
	justify-content: space-between;
	grid-template-columns: 1fr 1fr;
	grid-auto-rows: 1fr;
	grid-auto-flow: row;
	gap: 5px;
}

.tool {
	padding: 5px;
	background-color: #acb;
	border-top: 3px solid #fff;
	border-left: 3px solid #aaa;
	border-right: 3px solid #555;
	border-bottom: 3px solid #000;

	display: grid;
	/* align-items: center; */
	justify-items: center;
}

#colorPalette {
	background-color: #a6c;

	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 100px 200px;
	gap: 5px;
	justify-content: center;
}

#color {
	padding: 5px;
	background-color: #6ca;
	min-width: 80px;
	max-width: 100px;

	display: grid;
	grid-template-columns: 50% 50%;
	grid-template-rows: 50% 50%;
}
#color-1 {
	padding: 5px;
	background-color: #FF8800;
	grid-area: 1 / 1 / 3 / 3;
	z-index: 1;
	color: #0004;
}
#color-2 {
	padding: 5px;
	background-color: #fff;
	grid-area: 2 / 2 / 3 / 3;
	z-index: 10;
	color: #0004;
	box-shadow: -3px -3px 10px #0008;
}

:root {
	--width: 40px;
	/* var(--width) */
}
#palette {
	padding: 5px;
	background-color: #acf;
	min-width: 90px;
	cursor: default;

	display: grid;
	grid-template-columns: repeat(auto-fit, 30px);
	grid-template-rows: repeat(auto-fit, 30px);
	/* change max to 60px, height of cells becomes split btw 39 and 22 ?? */

}
.pal-color {
	padding: 5px;
	font-size: .75em;
	box-shadow: 1px 1px 5px #0008;
}
.red {
	background-color: #4008;
}
.blue {
	background-color: #0088;
}
.green {
	background-color: #0308;
}
.yellow {
	background-color: #4308;
}
.pink {
	background-color: #4088;
}
.cyan {
	background-color: #0888;
}



#contextMenu {
	/* grid-area: contextMenu; */
	grid-column: tool-start / canvas-end;
	grid-row: 1 / 2;
	padding: 5px;
	background-color: #6ac;
}

#canvas {
	/* grid-area: canvas; */
	grid-column: canvas-start / canvas-end;
	grid-row: 2 / 3;
	padding: 5px;
	background-color: #aca;
	border: 1px solid black;
	overflow: auto;

	cursor: url("plus.png"), crosshair;
}

#infoBar {
grid-column: tool-start / canvas-end;
grid-row: 3 / 4;
padding: 5px;
background-color: #88c;
}

.item {
	grid-area: item;
	padding: 5px;
	background-color: #fff8;
}







/* grid experiment stuff */

hr {
margin-top: 100px;
margin-bottom: 100px;
}

.container {
	height: 400px;
	width: 640px;

  display: grid;
	/* justify-items: center; */
	/* why does this break the grid ??? */
	/* align-items: center; */

	justify-content: space-evenly;
	align-content: space-evenly;

  grid-template-columns: 100px 125px 125px 125px 100px;
  grid-template-rows: 100px auto 50px;
  grid-template-areas:
    "main header header header header"
    "main . . . sidebar"
    ". footer footer footer footer2";
	/* gap: 10px; */
	grid-auto-columns: 50px;
	grid-auto-rows: 50px;
	border: 1px solid black;
}

.item-a {
  grid-area: header;
	background-color: sandybrown;
}
.item-b {
  grid-area: main;
	background-color: deepskyblue;
	min-height: 10px;
}
.item-c {
  grid-area: sidebar;
	background-color: tomato;
}
.item-d {
  grid-area: footer;
	background-color: palegreen;
}
.item-e {
  grid-area: footer2;
	grid-row: 5 / 7;
	grid-column: 1 / 4;
	background-color: gold;
}
