
#wrapper {
	width: 100%;
	height: 90vh;
	background-color: #ffe;

	display: grid;
	grid-template-columns: [tool-start] 100px [tool-end canvas-start] 640px [canvas-end];
	grid-template-rows: 40px 480px;
	gap: 5px;
}

#toolbar {
	/* grid-area: toolbar; */
	padding: 5px;
	grid-column: tool-start / tool-end;
	grid-row: 2 / 3;
	background-color: #f88;

	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: 2fr 1fr;
	gap: 5px;
}

.tool-wrapper {
	/* grid-area: tool-wrapper; */
	background-color: #ce6;

	display: grid;
	justify-content: space-between;
	grid-template-columns: 1fr 1fr;
	grid-auto-rows: 1fr;
	grid-auto-flow: row;
	gap: 5px;
}

.tool {
	/* grid-area: tool; */
	padding: 5px;
	background-color: #acc;
}

#colorPalette {
	/* grid-area: colorPalette; */
	background-color: #a6c;

	display: grid;
	grid-template-columns: auto;
	grid-template-rows: minmax(auto, 100px) auto;
	gap: 5px;
}

#palette {
	/* grid-area: palette; */
	padding: 5px;
	background-color: #ac6;
}

#color {
	/* grid-area: color; */
	padding: 5px;
	background-color: #6ca;
}

#contextMenu {
	/* grid-area: contextMenu; */
	grid-column: tool-start / canvas-end;
	grid-row: 1 / 2;
	padding: 5px;
	background-color: #6ac;
}

#canvas {
	/* grid-area: canvas; */
	grid-column: canvas-start / canvas-end;
	grid-row: 2 / 3;
	padding: 5px;
	background-color: #aca;
}

.item {
	grid-area: item;
	padding: 5px;
	background-color: #fff8;
}

























.item-a {
  grid-area: header;
	background-color: sandybrown;
}
.item-b {
  grid-area: main;
	background-color: deepskyblue;
	min-height: 10px;
}
.item-c {
  grid-area: sidebar;
	background-color: tomato;
}
.item-d {
  grid-area: footer;
	background-color: palegreen;
}
.item-e {
  grid-area: footer2;
	grid-row: 6 / 7;
	grid-column: 2 / 3;
	background-color: gold;
}

.container {
	height: 400px;
	width: 640px;

  display: none;
	/* justify-items: center; */
	/* why does this break the grid ??? */
	/* align-items: center; */

	justify-content: space-evenly;
	/* align-content: stretch; */

  grid-template-columns: 100px 125px 125px 125px 100px;
  grid-template-rows: 100px auto 50px;
  grid-template-areas:
    "main header header header header"
    "main . . . sidebar"
    ". footer footer footer footer2";
	/* gap: 10px; */
	grid-auto-rows: 50px;
	border: 1px solid black;
}










.container2 {
  display: none;
  grid-template-columns: 60px 60px 60px 60px 60px;
  grid-template-rows: 30px 30px;
  grid-auto-flow: column;
	gap: 5px;
}
.item-f {
  grid-column: 1;
  grid-row: 1 / 3;
	background-color: sandybrown;
}
.item-g {
background-color: deepskyblue;
}
.item-h {
background-color: tomato;
}
.item-i {
background-color: palegreen;
}
.item-j {
  grid-column: 5;
  grid-row: 1 / 3;
	background-color: gold;
}





.container3 {
	display: none;
	grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
	grid-template-rows: 100px 200px;
	border: 1px solid black;
}









#conto {
  display: none;
  grid-template-columns: repeat(auto-fill, 10px [col-start] 30% [col-middle] 400px [col-end]);
  grid-gap: 5px;
  box-sizing: border-box;
  /* height: 200px; */
  /* width: 100%; */
  background-color: #8cffa0;
  padding: 10px;
}

#conto > div {
  background-color: #8ca0ff;
  padding: 5px;
}
